<div class="container">
  <div class="board">
    @for (square of board(); track $index) {
      <app-squares [value]="square" (onClicked)="makeMove($index)"/>
    }
    <mat-card>
      <mat-card-content>
        @if (!isWinner) {
          <p>
            Turn of Player: {{ currentPlayer }}
          </p>
        } @else {
          <p>
            Winner Player {{ currentPlayer }}!
          </p>

          <mat-button-toggle>
            <button (click)="restart()">
              Restart
            </button>
          </mat-button-toggle>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
